<%= form_for(@venue) do |f| %>
  <% if @venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% @venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset>
  <legend>Information</legend>
  <div class="field-group">
    <div class="field">
      <%= f.label :name, "Name", class: "form-control-label"%><br>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :location, "Location", class: "form-control-label" %><br>
      <%= f.text_field :location, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :selfie, "Selfie", class: "form-control-label" %><br>
      <%= f.url_field :selfie, class: "form-control" %>
    </div>
    <div class="field">
      <%= f.label :age_required, "Age Required", class: "form-control-label" %><br>
      <%= f.number_field :age_required, in: 1...100, class: "form-control" %>
    </div>
  </div>
  
  <br>

  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="actions">
    <%= f.submit 'Create Venue', :class=> 'btn btn-success' %>
  </div>
</fieldset>
<% end %>
